NODE_ENV=development
PORT=3002

# Database
DB_HOST=193.203.175.121
DB_PORT=3306
DB_USERNAME=u752511550_user_business
DB_PASSWORD=@Wilk2026#
DB_DATABASE=u752511550_somaai_busines

# JWT
JWT_SECRET=your-super-secret-key-change-in-production

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=business-service
KAFKA_GROUP_ID=business-group

# URLs
APP_URL=https://somaaibackend.fly.dev
API_URL=https://somaaibackend.fly.dev
