NODE_ENV=development
PORT=3012

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=delivery_db
DB_SYNCHRONIZE=true

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=delivery-service
