NODE_ENV=development
PORT=3013

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=suppliers_db
DB_SYNCHRONIZE=true

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=suppliers-service
