NODE_ENV=development
PORT=3010

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=sales_db
DB_SYNCHRONIZE=true

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=sales-service

# Services
INVENTORY_SERVICE_URL=http://localhost:3011
OFFERS_SERVICE_URL=http://localhost:3014
