NODE_ENV=development
PORT=3005

# Database
DB_HOST=193.203.175.121
DB_PORT=3306
DB_USERNAME=u752511550_user_business
DB_PASSWORD=@Wilk2026#
DB_DATABASE=u752511550_somaai_busines

# JWT
JWT_SECRET=your-super-secret-key-change-in-production

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=APP_USR-3018827007003061-012115-926cae885e58d0be5587ce27332af946-3144270208
MERCADOPAGO_PUBLIC_KEY=APP_USR-4f50326e-7eaf-4289-8bd3-cad45ae90d30

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=payments-service
KAFKA_GROUP_ID=payments-group

# URLs
APP_URL=https://somaaibackend.fly.dev
API_URL=https://somaaibackend.fly.dev
